@page
@model StructchaWebApp.Pages.ContactModel
@{
    <h1>Contact Structcha</h1>
    <p>Please use the contact form below and we will endeavor to get back to use as soon as possible.</p>
    <form>
    
    </form>
}
