@page
@using StructchaWebApp.Pages.Shared;
@using Microsoft.AspNetCore.Identity
@model DashboardModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser user = await UserManager.FindByNameAsync(User.Identity?.Name);
    ViewData["Title"] = user.FirstName + " " + user.LastName + "'s Dashboard";
}

@{
    <h2>@user.FirstName @user.LastName's dashboard</h2>
    <label>@user.Company</label>

    if (DashboardModel.superAdmin(User.Claims.First().Value))
    {       
        <partial name="~/Pages/Shared/_AdminSettings.cshtml" />
    }

    if (DashboardModel.companyOwner(User.Claims.First().Value))
    {
        <partial name="~/Pages/Shared/_CompanyAdminSettings.cshtml" />
    }
}


