@page
@using StructchaWebApp.Pages.Shared;
@using Microsoft.AspNetCore.Identity
@model DashboardModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.Data.Sql;

@{
    ViewData["Title"] = @User.Identity?.Name! + "'s Dashboard";
}

@{
    <h2>@User.Identity?.Name's dashboard</h2>
    if (DashboardModel.superAdmin(User.Claims.First().Value)) {
        <partial name="~/Pages/Shared/_AdminSettings.cshtml" />
    }
}


