@page
@using StructchaWebApp.Pages.Shared;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Structcha Homepage</h1>
    <p>Here the user can select and open analysis applications to use, check current tasks, manage other team members, keep track of work both onsite and offsite, and plan their next structuralsteps</p>
    <p>The applications below are containerised</p>
    <ul>
        <li><a href="./">Joint Drawer</a> - Allows for input of a joint from 3rd party software or the ability to draw one from scratch using Structcha's own inhouse designed drafting software.</li>
        <li><a href="./">Steel Joint Designer</a> - Specialised design and detailer software for structural steel joints</li>
        <li><a href="./">Concrete Joint Designer</a> - Specialised design and detailer software for concrete joints</li>
        <li><a href="./">Joint FEA</a> - Niche finite element software for structural joint analysis</li>
        <li><a href="./">Construction management tools</a> - Keep track of what is happening with onsite and offsite manufacture and construction</li>
        <li><a href="./">Logistics management</a> - Keep track of where parts are when being transported</li>
    </ul>

    @if (SignInManager.IsSignedIn(User)) {
        //AppManager app = new AppManager(UserManager.GetUserId(User),"JointDraw");
        //Unsure if need a connect to GUI function
@*        <div name="guiConnect" class="guiConnect">
            <form name="guiConForm" method="post">
                <p>Enter your one time password shown on the GUI:</p>
                <input type="text" width="20" name="guiOTP" id="guiOTP"/>
                <input type="submit" value="Connect to GUI"/>
            </form>
        </div>
        <br />*@
        <div name="StartJD" class="appButtonLarge">
            <form name="formJointDraw" method="post">
                <h3>JointDraw</h3>
                @{
                    //Turn this into a forloop for each software available to the user. A method ofreturning string[] (or perhaps move to objects) is needed to find the users softwares
                    
                    string softwareKey = _Common.userSoftwareActive(User.Claims.First().Value, "JointDraw");
                    if (softwareKey != "")
                    {
                        <p>You currently have a session open for JointDraw</p>
                        <a href="Structcha:@softwareKey">Start Structcha Joint Designer</a>
                        <br />
                        <input type="submit" name="jointDrawClose" value="Stop session" />
                    }
                    else
                    {
                        <p>There are @_Common.numberOfSeat("JointDraw") seats free for JointDraw</p>
                        <br />
                        <input type="submit" name="jointDrawSubmit" value="Start session" />
                    }
                }
            </form>
            @*<a href="Structcha:JointDraw:@app.user:@app.session">Start Structcha Joint Designer</a>*@
            @*Looking to load a div saying that saying the session is starting, then another hyperlink to start the program once the database has the required infomation stored *@
        </div>
    }

</div>
