@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Structcha Homepage</h1>
    <p>Here the user can select and open analysis applications to use, check current tasks, manage other team members, keep track of work both onsite and offsite, and plan their next structuralsteps</p>
    <p>The applications below are containerised</p>
    <ul>
        <li><a href="./">Joint Drawer</a> - Allows for input of a joint from 3rd party software or the ability to draw one from scratch using Structcha's own inhouse designed drafting software.</li>
        <li><a href="./">Steel Joint Designer</a> - Specialised design and detailer software for structural steel joints</li>
        <li><a href="./">Concrete Joint Designer</a> - Specialised design and detailer software for concrete joints</li>
        <li><a href="./">Joint FEA</a> - Niche finite element software for structural joint analysis</li>
        <li><a href="./">Construction management tools</a> - Keep track of what is happening with onsite and offsite manufacture and construction</li>
        <li><a href="./">Logistics management</a> - Keep track of where parts are when being transported</li>
    </ul>
</div>
