@page
@using StructchaWebApp.Pages.Shared;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="fadeIn fullView">
        <h3>Drafting of structural joints</h3>
        <h4>Structcha DrawJoint</h4>
        <p>Allows for in put of a joint from 3rd party software or the ability to draw one from scratch using Structcha's own inhouse designed drafting software. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler</p>
    </div>
    <div name="test" class="fadeIn fullView"></div>
    <div name="test" class="fadeIn fullView">
        <h3>Steel joint detailing</h3>
        <h4>Structcha Joint Detailer - Steel</h4>
        <p>Specialised design and detailer software for structural steel joints. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler</p>
    </div>
    <div name="test" class="fadeIn fullView"></div>
    <div class="fadeIn fullView">
        <h3>Concrete joint detailing</h3>
        <h4>Structcha Joint Detailer - Concrete</h4>
        <p>Specialised design and detailer software for concrete joints. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler</p>
    </div>
    <div name="test" class="fadeIn fullView"></div>
    <div class="fadeIn fullView">
        <h3>Timber joint detailing</h3>
        <h4>Structcha Joint Detailer - Timber</h4>
        <p>Specialised design and detailer software for timber joints. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler</p>
    </div>

    <div class="fadeIn fullView">
        <h3>General joint detailing</h3>
        <h4>Structcha Joint Detailer - General</h4>
        <p>Specialised design and detailer software for General joints. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler</p>
    </div>


</div>
