@page
@using StructchaWebApp.Pages.Shared;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center bodyContainer">
    <div class="fadeIn fullView">
        <h3>Analysis using cloud services</h3>
        <h4>Structcha Structural Analysis</h4>
        <p>
            Stuctcha's SAP software is a a powerful fully featured analysis software for findings loading on a buildings structure. There. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler<br />
            This software is designed to run using Strutcha's cloud database, and will perform the computational intensive operations in our secure servers.
        </p>

    </div>
    <div class="fadeIn fullView">
        <h3>Joint FEA using cloud services</h3>
        <h4>Structcha FEA</h4>
        <p>
            Many joints are of complex design with loading scenarios being in multiple planes or sophisticated paths. The FEA tooling provided with Structcha's inhouse designed software, 'Structcha FEA' gives a solid and easy to use solution to these more elaborate problems. Specifically tailored for structural engineering applications, the intuitive user interface provides efficient means for an engineer to analysis joints which have been drafted using the Structcha Drafting sections, as well as many other formats.<br />
            This software is designed to run using Strutcha's cloud database, and will perform the computational intensive operations in our secure servers.
        </p>
    </div>

</div>
