@page
@using StructchaWebApp.Pages.Shared;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center bodyContainer">
    <div class="fadeIn fullView">
        <h3>Drafting of structural joints</h3>
        <h4>Structcha Onsite Assist</h4>
        <p>Niche finite element software for structural joint analysis. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler</p>
    </div>
    <div class="fadeIn fullView">
        <h3>Offsite manaufacturing assistant</h3>
        <h4>Structcha Offsite Assist</h4>
        <p>Keep track of what is happening with onsite and offsite manufacture and construction. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler</p>
    </div>
    <div class="fadeIn fullView">
        <h3>Logistics management</h3>
        <h4>Structcha Logistics</h4>
        <p>Keep track of where parts are when being transported. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler. This is filler, this is filler, this is filler</p>
    </div>
</div>
    }
</div>
