@page
@model StructchaWebApp.Pages.PricingModel
@{
    <h1>Structcha Pricing</h1>
    <p>Currently, Structcha is in alpha, so is free to use! Note that it is NOT a good idea to use Structcha for real project management as databases may be reset at any stage, and your data lost. In it's current state, Structcha is for testing only.</p>
    <p>We do, however, value your feedback. Have you found a bug? Do you have an idea for a feature that would suit your business? Please do not hesitate to let us know using the form below. We value your feedback.</p>
    <form>

    </form>
}
