@page
@model StructchaWebApp.Pages.UpdatesModel
@{
    <h1>Updates</h1>
    <p>Structcha is a forever growing Software Environment aiming to bring the best software tools to the Engineering field. We are constantly adding new features to help you with your Engineering projects, and these Updates are listed here.</p>
    <ul>
    <li>An update</li>
    <li>An update</li>
    <li>An update</li>
    <li>An update</li>
    </ul>
}
