@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.Sql

@*Perhaps need to add the model in here too? Will give it a go*@
@model DashboardModel

@{
    <div class="dash-div" name="superAdminTools">
        <h3>Admin Tools</h3>
        @*---------------------------Role tools--------------------------*@
        <div class="dash-div EditRoles" name="roleAdminTools">
            <h4>Add/delete current roles</h4>
            @{
                var roles = Model.companyDash.AllUserRoles();
                if (roles.Count == 0)
                {
                    <p>No Roles Found</p>
                }
                else
                {
                    <form asp-page-handler="RoleRemove" method="post" style="text-align:center">
                        <table style="width:100%;">
                            <tr>
                                <th rowspan="2">Role Name/Delete</th>
                                <th rowspan="2">Edit Defaults</th>
                                <th colspan="2">Claims editable by</th>
                            </tr>

                            <tr>                                
                                <th>Company Admin</th>
                                <th>Company Owner</th>
                            </tr>

                            @foreach (IdentityRole s in roles)
                            {
                                string name = s.Name.Replace(" ", "_");
                                <tr>
                                    <td>
                                        <l>@s.Name </l>
                                        <button type="submit" name="deleteRoleButton" value=@String.Concat(name,"_Remove")>Remove</button>
                                    </td>
                                    <td>
                                        <button type="button" onclick="toggleProjectEditDiv('show_@name')" name="editClaimsDefault" value=@String.Concat(name,"_ClaimsDafault")>Edit</button>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="roleClaimsEditable" value=@String.Concat(name,"_ClaimsCA") />
                                    </td>
                                    <td>
                                        <input type="checkbox" name="roleClaimsEditable" value=@String.Concat(name,"_ClaimsCO") />
                                    </td>
                                </tr>

                                <tr style="display:none;" name="@name">
                                    <td colspan="100%" ><p>Testing</p></td>
                                </tr>
                            }
                        </table>
                    </form>
                }
            }

            <h5 style="text-align:center">Create a New Role: </h5>
            <form asp-page-handler="NewRoleSubmit" method="post" style="text-align:center">
                <input type="text" name="roleName" />
                <button type="submit" id="CreateRoleButton">Create New Role</button>
            </form>
        </div>
        <br>

        @*---------------------------Company tools--------------------------*@

        <div name="companyAdminTools">
            <h4>Add/delete companys</h4>
            @{
                var companies = Model.adminDash.ActivatedCompanies();
                if (companies.Count == 0)
                {
                    <p>No Companies Found</p>
                }
                else
                {
                    <form asp-page-handler="CompanyRemove" method="post" style="text-align:center">
                        @foreach (String s in companies)
                        {
                            <l>@s </l>
                            <button type="submit" name="deleteCompanyButton" value=@String.Concat(s.Replace(" ","_"),"_Remove")>Remove</button>
                            <br />
                        }
                    </form>
                }
            }

            <h5 style="text-align:center">Register New Company: </h5>

            <form asp-page-handler="NewCompanySubmit" method="post" style="text-align:center">
                <label>Company Name: </label><input type="text" name="companyName" /><br>
                <label>Company Admin Email: </label><input type="text" name="companyAdmin" /><br>
                <button type="submit" id="CreateRoleButton">Create New Company</button>
            </form>
        </div>
    </div>
}
