@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> RoleManager
@using Microsoft.Data.Sql

@{
    <div class="dash-div">
        <h3>Admin Tools</h3>

        <h4>Add/delete current roles</h4>
        @{
            //Model.adminDash = new AdminDash(RoleManager);
             
            var roles = Model.adminDash.AllUserRoles();
            if (roles.Count == 0){
                <p>No Roles Found</p>
            } else {
                <form asp-page-handler="RoleRemove" method="post" style="text-align:center">
                    @foreach (IdentityRole s in roles)
                    {
                        <l>@s.Name </l><button type="submit" name = "deleteRoleButton"  value=@String.Concat(s.Name,"_Remove")>Remove</button><br/>
                    }                
                </form>

            }            
        }

        <h5 style="text-align:center">Create a New Role: </h5>
        <form asp-page-handler="NewRoleSubmit" method="post" style="text-align:center">
            <input type="text" name="roleName"/>
            <button type="submit" id="CreateRoleButton">Create New Role</button>
        </form>

        <h4>Add/delete companys</h4>
        <h4>Assign roles to users</h4>
    </div>
}
