@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model string[]
@{
}
<ul class="taskBarList">
    @{
        foreach (string s in Model)
        {
            <li><a href=".">@s   -   </a><button name="taskComplete_@s" asp-page-handler="">Done</button></li>
        }
    }
</ul>
