@model IndexModel

@{
    <div name="mainDisplay" class="main-display">
        <h3>You are creating a new project Task</h3>
        <form name="createProjectTask" asp-page-handler="NewProjectTask">
            <label>Task Title: </label><input type="text" name="TaskTitle" width="200" /><br/>
            <label>For project: </label>
            <select name="TaskProjectCode" id="TaskProjectCode" asp-items="@Model.userHomePage.projectSelectList" onchange="updateNewTaskAccessSelectors()">
                <option hidden name="noProject" value="">No Project</option>
            </select>
            <label>Task Priority: </label>
            <select name="SetTaskPriority">
                <option value="1">1 (lowest)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (highest)</option>
            </select>
            <div id="dynamicTaskSelectors">
                <partial name="~/Pages/Shared/_DynamicTaskSelector.cshtml" model="@Model"></partial>
            </div>
            
            <h4>Post Body</h4>
            <textarea name="TaskBody" type="text" rows="10" cols="50"></textarea><br />
            <input type="submit" />
        </form>
    </div>
}
