@model List<ProjectTask>

<div class="taskBar">
    <ul>
        @{
            List<ProjectTask> projectTasks = Model;
            foreach (ProjectTask pt in projectTasks)
            {
                if (pt.Title != null)
                {
                    <li>
                        <label>@pt.ProjectName: Priority @pt.Priority.ToString()</label><br /> @* Look into grouping tasks into each project perhaps*@
                    <a name="openPost_@pt.Title" asp-page-handler="">@pt.Title</a></li>
                }
            }
        }
    </ul>
</div>

