@model List<ProjectPost>

<ul>
    @{
        List<ProjectPost> projectPosts = Model;
        foreach (ProjectPost pp in projectPosts)
        {
            if (pp.Title != null)
            {
                <li onclick="ShowIndexPartial(@pp.Id, 0)">
                    <h1>@pp.ProjectName</h1> @* Look into grouping tasks into each project perhaps*@
                    <p name="openPost_@pp.Title">@pp.Title</p>
                </li>
            }
        }
    }
</ul>

