@model UserHomePage;

<br />
<h4>Image uploading</h4>
<label for="imageSelect">Select an image to attach to post: </label>
<form name="imageAttach" id="imageAttach">
    <input name="imageSelect" type="file" id="imageSelect" accept="image/png, image/jpeg" multiple />
</form>

<div name="uploadedImageDisplay" id="uploadedImageDisplay">

    @if (Model.imageManager.UserImages.Count > 0)
    {
        @foreach (UserImage ui in Model.imageManager.UserImages)
        {
            <div >
                @*<img src="@Url.Action(Model.imageManager.setFileResult(ui.id))" />*@
                <img class ="userImageDraft" src="data:image/jpeg;base64, @ui.getImage()" />
            </div>
        }
    }
    else
    {
        <p style="text-align:center">No images uploaded</p>
    }
</div>
<br />