@model UserHomePage;

<br />
<h4>Image uploading</h4>
<label>Reference image in the Body above buy using '&&' infront of it, ie "&&Image_1"</label><br/>
<label for="imageSelect">Select an image to attach to post: </label>
<form name="imageAttach" id="imageAttach">
    <input name="imageSelect" type="file" id="imageSelect" accept="image/png, image/jpeg" multiple />
</form>

<div name="uploadedImageDisplay" id="uploadedImageDisplay">

    @if (Model.imageManager.UserImages.Count > 0)
    {
        int counter = 1;
        @foreach (UserImage ui in Model.imageManager.UserImages)
        {
            <div style="display:inline-block">
                <h4>Image_@counter</h4>
                @*<img src="@Url.Action(Model.imageManager.setFileResult(ui.id))" />*@
                <img class ="userImageDraft" src="@ui.getImage()" /><br/>
                <label>Image Label: </label><input type="text"/><br/>
                <label>Image Description: </label><br/>
                <textarea style="width:200px;"></textarea><br/>
                <button name="deleteUserImage">Delete Image</button>
            </div>
            counter++;
        }
    }
    else
    {
        <p style="text-align:center">No images uploaded</p>
    }
</div>
<br />