:root {
    --dark-bg: rgb(198, 217, 221);
    --mid-bg: rgb(219, 238, 242);
    --light-bg: rgb(247, 254, 255);
    --accent-light: rgb(133, 192, 205);
    --accent-mid: rgb(60, 156, 177);
    --accent-dark: rgb(55, 115, 129);
    --background-colour: rgb(18 18 18);
    --dark-text: rgb(27, 27, 27);
    --mid-text: rgb(125, 125, 125);
    --light-text: rgb(207, 207, 207);
    /*                       */
    /*                       */
    --userInterfaceHeight: 90vh;
    --task-bar-width: 300px;
    --main-view-width: calc(100vw - var(--task-bar-width));
    --softwareManagerHeight: 100px;
    /*                       */
    /*                       */
    /*                       */
    /*                       */
    --highlight-1: rgb(255 171 111);
    --highlight-2: rgb(187 78 0);
    --highlight-3: rgb(255 106 0);
}


.nav-item {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-link {

}

.navbar-dark {
    background-color:var(--accent-dark)!important;
}

.bodyContainer {
    width:100%;
    /*margin:0;*/
    padding:0;
    margin-left:0;
    margin-right:0;
    max-width:100%;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: var(--dark-text);
    background-color: var(--light-bg);
}

p {
    text-align:justify;
}

.text-center li {
    text-align:center;
    list-style:circle inside;
    width:100vw;
}

.appButtonSmall {
    background-color: var(--accent-light);
    width: 250px;
    margin: 10px;
    margin-right:0px;
    height: calc(100% - 20px);
    text-align: center;
    border-radius:5px;
    padding: 10px;
}

.appButtonSmall h3 {
    font-size:20px;
}

.fadeIn {
    opacity: 1;
}

.fullView {
    /*margin-top: 50px;*/
    padding: 50px;
    background-color: var(--background-colour);
    height: 60vh;
    color: white;
    position:sticky;
    top:0;
}

.fillView {
    min-height:30vh;
    /*height:100%;*/
}

.editProject {
    background-color: var(--highlight-1);
    max-width: 600px;
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align:right;
    border-radius:5px
}

    .editProject label{
        text-align:left;
        float:left;
    }

    .editProject button {
        margin:2px
    }

.defaultPage {
    max-width:1400px;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}



.software-manager {
    width: var(--main-view-width);
    height: var(--softwareManagerHeight);
    float: right;
    background-color: var(--dark-bg);
}



.user-interface {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}


.appButtonSoftwareManager {
    float:left;
    display:inline-block;
}


.taskBarSection {
    height: calc(40% - 80px);
    background-color: var(--mid-bg);
}

    .taskBarSection button {
        height:30px;
        margin:0px;
    }


.task-bar {
    /*max-width:600px;*/
    width: var(--task-bar-width);
    /*min-width:200px;*/
    height: var(--userInterfaceHeight);
    background-color: white;
    float: left;
}

    .task-bar h3 {
        background-color: var(--accent-light);
        padding: 10px;
    }

.taskBar {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 23vh;
    padding: 20px;
    width: var(--task-bar-width);
    background-color: var(--mid-bg);
}

    .taskBar ul{
        padding:0px;
    }

    .taskBar li {
        text-align: left;
        text-decoration: none;
        list-style: none;
        width: 100%;
        background-color: var(--accent-mid);
        margin: 2px;
        padding: 5px;
        color: black;
        border-radius: 5px
    }

    .taskBar li:hover{
        background-color: var(--accent-light);
    }

    .taskBar a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        padding: 5px;
        border-radius: 5px;
    }


.replies {
    padding: 0px;
}

    .replies ul{
        padding:20px;
    }

    .replies li {
        padding: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        list-style: none;
        width: 100%;
        background-color: var(--mid-bg);
        text-align: left;
    }

    .replies li p{
        margin:0px;
    }

    .replies h4 {
        font-size:15px;
    }

    .replies p {
        background-color: var(--light-bg)!important;
    }

.main-view {
    height: calc(var(--userInterfaceHeight) - var(--softwareManagerHeight));
    width: var(--main-view-width);
    overflow-y: scroll;
    overflow-x: hidden;
    float: right;
    background-color: var(--light-bg);
}

.main-display {
    width: var(--main-view-width)-40px;
    margin: 20px;
    background-color: var(--dark-bg);
    padding:20px
    /*min-height: calc(var(--userInterfaceHeight) - var(--softwareManagerHeight) - 40px);*/
}
    .main-display input, select, button{
        margin:5px;
    }

    .main-display p {
        background-color:var(--mid-bg);
        margin-top:20px;
        padding:10px;
    }

.dash-div {
    background: var(--dark-bg);
    width:100%;
    border-radius:10px;
    padding:10px;
    margin-top:10px;
    color:black;
}
    .dash-div h4 {
        text-align: center;
        color: black;
    }

    .dash-div h3 {
        text-align:center;
        color:var(--light-bg)
    }

