html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-center li {
    text-align:center;
    list-style:circle inside;
}

.appButtonLarge {
    background-color:bisque;
    width:400px;
    height:200px;
    text-align:center;
    padding-top:35px;
    font-size:40px;
}